/* --- global --- */
body, html {
    height: 100%;
    margin: 0;
}

/* --- App component --- */

/* --- StartScreen component --- */
#start-screen{
    display: grid;
    place-items: center;
    padding: 35vh;
}

/* --- Navigation component --- */
.navigation{position: fixed;
    width: 100%;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.navigation li:not(#theme-select-input){
    float: left;
    border-right: 1px solid rgba(0, 0, 0, 0.1);;
}

.navigation li:not(#theme-select-input):hover{
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

.navigation span{
    display: block;
    width: 60px;
    padding: 10px;
    text-align: center;
}

#theme-select-input{
    float:right;
    padding: 9px;
    padding-right: 30px;
}

#navigation-spacer{
    height: 39px;
}

/* --- Sidebar component --- */
.sidebar:not(span){
    padding-left: 20px;
    display: block;
    position: fixed;
    height: 250px;
    width: 250px;
    top: 40px;
    right: 100px;
    border-radius: 13px;
}

/* --- Game component --- */
.card-container {
    position: absolute;
    display: grid;
    grid-template-columns: repeat(5, 200px);
    gap: 15px;
    border-radius: 13px;
    padding: 20px;
    margin: 20px;

}

/* --- Card component --- */
.card {
    position: relative;
    width: 200px;
    height: 310px;
    border-radius: 13px;
    box-shadow: 0 0 5px 4px rgb(0, 0, 0, .2);
    transform: perspective(1000px) rotateY(var(--rotationY, 0)) translateY(var(--translationY, 0));
    transform-style: preserve-3d;
    transition: 0.4s;
    cursor: pointer;
}

.card.flip {
    --rotationY: 180deg;
    cursor: default;
}

.card.hide {
    visibility: hidden;
}

.card:hover:not(.flip) {
    --translationY: -2px;
    box-shadow: 0 2px 6px 4px rgb(0, 0, 0, .4);
}

.card-front, .card-back {
    position: absolute;
    backface-visibility: hidden;
}

.card-front {
    transform: rotateY(180deg);
}